<div style="margin-top: 9ex; padding-top:9ex; border-top: 1px solid #727272" class="meta">
	<p>
	<strong>Colophon</strong>
	</p>
	<p>
	<a href="https://creativecommons.org/licenses/by/4.0/">
		<img src="images/icons/creative-commons.svg" class="bigicon"/>
		<img src="images/icons/creative-commons-attribution.svg" class="bigicon"/>
	</a>
	</p>
	<p>
	<a href="https://en.wikipedia.org/wiki/Fira_Sans">Fira Sans</a> font (OFL)&emsp;
	<a href="http://entypo.com/">Entypo+</a> icons (CC BY-SA)<br/>
	 <a href="https://gitlab.com/rwmpelstilzchen/ac.digitalwords.net">Source</a> (generator and data) for this page (CC BY)
	</p>
