 :root {
  --turonBlue: #004C7F;
  --moderncvPurple: #7f54cc;
}

body {
	/*width: 64ch;*/
	width: 64em;
	max-width: 90%;
	margin-top: 3ex;
	margin-bottom: 9ex;
	margin-left: auto;
	margin-right: auto;
	display: block;
	font-size: 110%;
	line-height: 1.5;
	font-family: 'Fira Sans',  sans-serif;
	/* font-family: 'Gentium Plus', serif; */
	/*background-color: #F7F3EE;*/
	background-color: white;
	color: black;
}

a {
	text-decoration: none;
	/*color: #5F3F99;*/
	/*color: #3B4252;*/
	color: #777;
	display: inline;
}

a:hover {
    border-bottom: 1px solid #664B64;
}

.bodylink {
	color: black;
}

h1 {
	text-align: center;
	color: var(--turonBlue);
	/*background-color: #F1DDF1;*/
	font-weight: normal;
	margin-bottom: 0ex;
}

h2 {
	color: var(--turonBlue);
	/* border-bottom: thin solid #b298e0; */
	font-weight: normal;
	margin-top: 1.5em;
	font-feature-settings: "smcp" on;
}


h3 {
	color: var(--turonBlue);
	font-weight: normal;
	margin-top: 1.5em;
	font-style: italic;
}

sup {
	vertical-align: top;
	font-size: 60%;
}

table {
	border-spacing: 0 1.5em;
	border-collapse: separate; 
	font-size: 110%
}

table th {
	text-align: justify;
	padding-right: 1em;
}

table td {
	vertical-align: top;
	padding-right: 1.0em;
	margin-bottom: 3ex;
}

.threecols {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
}

.icon {
	max-height: 1.5ex;
	max-width: 1em;
}

.bigicon {
	max-height: 3ex;
	max-width: 2em;
}

.meta {
	text-align: center;
	/*
	width: 55ch;
	max-width: 70%;
	*/
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1ex;
	display: block;
	color: #727272;
}

.meta h4 {
	color: var(--turonBlue);
	display: inherit;
}

.lang {
	font-variant: small-caps;
	color: #727272;
}

#subtitle {
	color: #444;
	text-align: center;
	margin-bottom: 2ex;
}

#hmenu {
	margin-top: 2ex;
	margin-bottom: 8ex;
	list-style-type: none;
	text-align: center;
}

#hmenu ul, #hmenu ul li {
	margin: 0;
	padding: 0;
	display: inline;
}

#hmenu ul li {
	padding: 0.75ex;
	display: inline;
	white-space: pre;
	background-color: #D6E5F2;
	background-color: #ECF3F9;
	margin-right: 0.25em;
}

#hmenu ul li:hover {
	background-color: #F1DDF1;
	background-color: #F8EDF8;
}

#hmenu a {
    border-bottom: none;
}


tr:target {
	background-color: #ECF3F9;
    -webkit-transition: all 1s linear;
}

#nonacademic-table {
	/*display: none;*/
}

/*
#hmenu ul li:after { content: "  \00b7  "; }
#hmenu ul li:last-child:after { content: ""; }
*/

.lastname {
	font-variant: small-caps;
}
